body {
  margin: 0;
}

button {
  border: none;
  background-color: rgb(66, 28, 201);
  font-family: roboto;
  color: white;
  font-size: 15px;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.title {
   font-family: sudoku;
   font-size: 90px;
   margin: 0;
   color: white;
   letter-spacing: 15px;
 }
#content {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgb(36, 54, 106), rgb(15, 4, 21));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 50px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 460px;
  height: 470px;
 background-color: rgb(54, 51, 51);

  /* border: blue 2px solid; */
}

.row-card {
  display: flex;
  width: 460px;
}

.row-card:nth-child(3) .number {
  border-bottom: blue 1px solid;
}
.row-card:nth-child(6) .number {
  border-bottom: blue 1px solid;
} 

.row-card:nth-child(4) .number {
  border-top: blue 1px solid;
}
.row-card:nth-child(7) .number {
  border-top: blue 1px solid;
}


.number {
 display: flex;
 align-items: center;
 justify-content: center;
 border: rgb(204, 198, 198) solid 0.05px;
 width: 50px;
 height: 50px;
 position: relative;
 font-size: 25px;
 color: white;
 font-family: roboto;
 font-weight: lighter;
}

.number:nth-child(3) {
  border-right: blue 1px solid;
}
.number:nth-child(6) {
  border-right: blue 1px solid;
}

.number:nth-child(4) {
  border-left: blue 1px solid;
}
.number:nth-child(7) {
  border-left: blue 1px solid;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(66, 28, 201);
  position: absolute;
  width: 80px;
  height: 60px;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  color: white;
}

.try {
  cursor: pointer;
  color: rgb(98, 68, 206);;
}

.number-option {
  margin-left: 5px;
  height: 20px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.clear-container {
  margin-top: 10px;
}

@font-face {
  font-family: sudoku;
  src: url('../fonts/sudoku/Sudoku.ttf');
}

@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}