body {
  margin: 0;
}

#content {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}

.row-card {
  display: flex;
  width: 400px;
}

.number {
 display: flex;
 align-items: center;
 justify-content: center;
 border: black solid 1px;
 width: 40px;
 height: 40px;
 background-color: white;
 position: relative;
}

.options-container {
  display: flex;
  background-color: rgb(66, 28, 201);
  position: absolute;
  width: 80px;
  height: 40px;
  right: 10px;
  bottom: 10px;

}

.number-option {
  margin-left: 5px;
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: lawngreen;
  text-align: center;
  cursor: pointer;
}