body {
  margin: 0;
}

#content {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}

.row-card {
  display: flex;
  width: 400px;
}

.number {
 display: flex;
 align-items: center;
 justify-content: center;
 border: black solid 1px;
 width: 40px;
 height: 40px;
 background-color: white;
}